<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book </title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
            <!-- TODO Add a script if there is no username given to give a generic greeting -->
            <h1> Hello {{ username }}! </h1>
            <h2> What should we make today? </h2>

            <ul id=navbar>
                <li><a href="{{url_for('index', username=username)}}">Home</li>
                <li><a href="{{url_for('recipes')}}">Recipes</li>
                <li><a href="{{url_for('favourites')}}">Favourites</li>
            </ul>
            <ul>

            </ul>
    </body>
</html>