<html>
	<head>
		{% if title %}
		<title> {{ title }} - My Recipe Book </title>
		{% else %}
		<title> My Recipe Book </title>
		{% endif %}
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		{% block heading %}{% endblock %}
		</br>
        <!-- navigation bar -->
        <div id="navbar">
            <a href="/">Home</a>
            <a href="{{url_for('recipes')}}">All Recipes</a>
            <a href="{{url_for('favourites')}}">Favourites</a>
            <a href="{{url_for('newRecipe')}}">Add Recipe</a>
        </div>

        {% block content %}{% endblock %}

        <script type="text/javascript">
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var stick = navbar.offsetTop;

            function myFunction() {
              if (window.pageYOffset >= stick) {
                navbar.classList.add("sticky")
              } else {
                navbar.classList.remove("sticky");
              }
            }
		</script>

		<script type="text/javascript">
	        function setFav(id) {
	            fetch('/recipes/' + id, {method: "FAV"})
	            .then(() => window.location.reload())
	            .catch((error) => console.log("Something went wrong: " + error));
	        }
    	</script>

    	<script type="text/javascript">
	        function remove(id) {
	            fetch('/recipes/' + id, {method: "REMOVE"})
	            .then(() => window.location.replace("{{ url_for('recipes') }}"))
	            .catch((error) => console.log("Something went wrong: " + error));
	        }
    	</script>

    	<script type="text/javascript">
    		function toRecipe(id){
    			window.location.replace("/recipes/" + id)
    		}
    	</script>

	</body>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</html>