<!DOCTYPE HTML>
<title>Edit Recipe</title>


{% extends "base.html" %}

{% block header %}
<h1> Edit recipe </h1>
{% endblock %}

{% block content %}
	<h2> Edit {{ name }} recipe </h2>
	    <div class="form">
	    	{% from "_formhelpers.html" import render_field %}
	        <form method='post'>
			    <dl>
			        {{ render_field(form.name) }}
			        {{ render_field(form.description) }}
					{{ render_field(form.ingredients) }}
					{{ render_field(form.method) }}
			        {{ render_field(form.favourite) }}
			    </dl>
			    <p><input type=submit value=Submit></p>
			</form>
	    </div>
	</br>
	</br>
	</br>
	</br>
	</br>

{% endblock %}