<!DOCTYPE html>

<title>Favourites - My Recipe Book</title>

{% extends "base.html" %}

{% block heading %}
    <h1> Favourites </h1>
{% endblock %}

{% block content %}
    <!-- Favourited recipes -->
    <div class="recipeslist">
        <table>
            <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Favourite </th>
            </tr>
            {% for recipe in favs %}
                <tr>
                    <td style="width: 25%;" onclick="toRecipe({{ recipe.id }})"> {{recipe.name}} </td>
                    <td style="width: 65%;" onclick="toRecipe({{ recipe.id }})"> {{recipe.description}} </td>
                    <td style="width: 10%; text-align: center;">
                        {% if recipe.fav %}
                        <button type="submit" class="tbl_fav" onclick="setFav({{recipe.id}})">
                            <img src="../static/star_y.png" width="40px" height="auto" align="right">
                        </button>
                        {% else %}
                            <button type="submit" class="tbl_fav" onclick="setFav({{recipe.id}})">
                                <img src="../static/star.png" width="40px" height="auto" align="right">
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}