<!DOCTYPE html>

{% extends "base.html" %}

{% block heading %}
    <h1> Hello {{ username }}! </h1>
    <h2> Welcome back to your recipe book </h2>
    <h2> What should we make today? </h2>
{% endblock %}

{% block content %}
    <!-- Suggested recipes to do -->
    <h2 style="text-align:left;"> Suggested Recipes </h2>
    
    <div class="suggested">
        <table>
            <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Favourite </th>
            </tr>
            {% for recipe in suggested %}
                <tr>
                    <td onclick="toRecipe({{ recipe.id }})" style="width: 25%;"> {{recipe.name}} </td>
                    <td onclick="toRecipe({{ recipe.id }})" style="width: 65%;"> {{recipe.description}} </td>
                    <td style="width: 10%; text-align: center;">
                    {% if recipe.fav %}
                        <button type="submit" class="tbl_fav" onclick="setFav({{recipe.id}})">
                            <img src="../static/star_y.png" width="40px" height="auto" align="right">
                        </button>
                    {% else %}
                        <button type="submit" class="tbl_fav" onclick="setFav({{recipe.id}})">
                            <img src="../static/star.png" width="40px" height="auto" align="right">
                        </button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}