<!DOCTYPE html>
<html>
    <head>
        <title>Recipes - My Recipe Book</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <h1 style="font-size: 100px;"> Saved recipes </h1>
         <div id="navbar">
            <a class="selected" href="/">Home</a>
            <a href="{{url_for('recipes')}}">All Recipes</a>
            <a href="{{url_for('favourites')}}">Favourites</a>
        </div>
        <script type="text/javascript">
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;

            function myFunction() {
              if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
              } else {
                navbar.classList.remove("sticky");
              }
            }
        </script>

        <div class="suggested">
            <table style="padding-top: 50px;">
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Favourite </th>
                </tr>
                {% for recipe in recipes %}
                    <tr>
                        <td style="width: 30%;"> {{recipe.name}} </td>
                        <td style="width: 60%;"> {{recipe.description}} </td>
                        <td style="width: 10%; text-align: center;"> {{recipe.fav}} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </body>
</html>