<!DOCTYPE html>
<title>{{name}}</title>

{% extends "base.html" %}

{% block heading %}
	<h1>{{name}}</h1>
{% endblock %}

{% block content %}
    </br>

    <!-- Favourite button -->
    {% if fav %}
        <button type="submit" class="fav_btn" onclick="setFav({{ id }})">
            <img src="../static/star_y.png">
        </button>
    {% else %}
        <button type="submit" class="fav_btn" onclick="setFav({{ id }})">
            <img src="../static/star.png">
        </button>
    {% endif %}

    <!-- Edit button -->
    <a id="editButton" href="/recipes/{{ id }}/edit">
        <img src="../static/edit.png" width="40px" height="auto">
    </a>

    <!-- Recipe -->
    <div>
    	<h3> Ingredients </h3>
    	<ul>
        	{% for ingredient in ingredients %}
        	<li id="ingredientlist">{{ingredient}}</li>
        	{% endfor %}
        </ul>
    	<h3> Method </h3>
    	<ol>
        	{% for step in method %}
        	<li id=methodlist>{{step}}</li>
        	{% endfor %}
    	</ol>
    </div>
{% endblock %}

{% block footer %}
    <!-- Delete button -->
    <button type="submit" class="deleter" onclick="remove({{id}})"></button>

{% endblock %}